.sub-menu-alt {
  display: none;
  position: absolute;
}

.sub-menu-nav:hover .sub-menu-alt {
  display: block;
}

/* <div class="sub-menu-nav">
		<button class="nav-btn">About</button>
		<div class="sub-menu-alt">
		  <a href="#">Company</a>
		  <a href="#">Team</a>
		  <a href="#">References</a>
		</div>
	  </div>  */

.rpo .header {
  min-height: 85px !important;
  height: 85px !important;
}

.rpo .header-top {
  padding-top: 1.5em;
}

.d-block {
  display: block !important;
}

.sub-menu-nav ul {
  background-color: #2e3e4e;
}
.sub-menu-nav ul li a {
  display: block;
}
.sub-menu-nav ul li {
  display: block;
  padding-left: 0.5em;
}

.digi {
  height: 370px !important;
}
.banner-wrap {
  padding-top: 20em;
}

.wmuSliderPrev,
.wmuSliderNext {
  top: 144px;
}
